.type {
  margin-top: 15%;
  width: 100%;
}
.type .row span,
.type .row h3 {
  color: #73879C;
}
.type .row h3 {
  font-size: 30px;
  line-height: 30px;
  margin: 3px 0 7px;
  font-weight: 700;
}
.type .row #chartContainer1,
.type .row #chartContainer2,
.type .row #chartContainer3,
.type .row #chartContainer4 {
  height: 150px;
}
@media only screen and (max-width: 823px) {
  #chartContainer1,
  #chartContainer2,
  #chartContainer3,
  #chartContainer4 {
    height: 150px !important;
    margin-bottom: 20% !important;
  }
}
