@import url("../css/font-awesome.css");
.login-block {
  background: -webkit-linear-gradient(to bottom,#ffb88c,#de6262);
  background: #de6262;
  background: linear-gradient(to bottom,#ffb88c,#de6262);
  float: left;
  padding: 50px 0;
  width: 100%;
}
.login-block .container {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 20px 20px 0px rgba(0,0,0,0.1);
}
.login-block .container .login-sec {
  padding: 50px 30px;
  position: relative;
}
.login-block .container .login-sec h2 {
  color: #de6262;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 30px;
  text-align: center;
}
.login-block .container .login-sec .login-form label {
  font-weight: 400;
}
.login-block .container .login-sec .login-form .btn-login {
  background: #de6262;
  color: #ffffff;
  font-weight: 600;
}
.login-block .container .login-sec .login-form .btn-login:hover {
  background: #feb58a;
  color: #ffffff;
  font-weight: 600;
}
.login-block .container .login-sec .copyright-text {
  bottom: -47%;
  font-size: 13px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2px;
  position: absolute;
  right: 0;
  text-align: center;
}
.login-block .container .login-sec .copyright-text i {
  color: #de6262 !important;
}
.login-block .container .login-sec .copyright-text a {
  color: #de6262 !important;
}
.login-block .container .login-sec .copyright-text a:hover {
  color: #feb58a !important;
  text-decoration: none;
}
.login-block .container .banner-sec {
  background-size: cover;
  border-radius: 0 10px 10px 0;
  min-height: 500px;
  padding: 0;
}
.login-block .container .banner-sec .img-fluid {
  height: 532px !important;
  width: 780px !important;
}
.login-block .container .banner-sec .carousel-caption {
  left: 5%;
  text-align: left;
}
.login-block .container .banner-sec .carousel-caption .banner-text {
  bottom: 40px;
  padding-left: 20px;
  position: absolute;
  width: 70%;
}
.login-block .container .banner-sec .carousel-caption .banner-text h2 {
  color: #ffffff;
  font-weight: 600;
}
.login-block .container .banner-sec .carousel-caption .banner-text h2:after {
  background: #ffffff;
  border-radius: 3px;
  content: " ";
  display: block;
  margin-top: 20px;
  width: 100px;
}
.login-block .container .banner-sec .carousel-caption .banner-text p {
  color: #ffffff;
  text-align: justify;
}
.border-right-radius-10 {
  border-radius: 0px 10px 10px 0px !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #de6262 !important;
  opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 1;
}
.prev:hover {
  background-image: url(../images/back.png) !important;
}
.next:hover {
  background-image: url(../images/next.png) !important;
}
@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .container .login-form label {
    font-size: 12px;
  }
  .container .login-form .form-check-label {
    font-size: 12px;
  }
  .container .banner-sec {
    min-height: 387px;
  }
  .container .banner-sec .img-fluid {
    height: 386px !important;
    width: 100% !important;
  }
  .container h2 {
    font-size: 20px !important;
  }
  .container p {
    font-size: 10px !important;
  }
  .border-right-radius-10 {
    border-radius: 0px 0px 10px 10px !important;
  }
  .prev {
    width: 25px !important;
    height: 20px !important;
  }
  .prev:hover {
    background-image: url(../images/4.png) !important;
  }
  .next {
    width: 25px !important;
    height: 20px !important;
  }
  .next:hover {
    background-image: url(../images/3.png) !important;
  }
}
@media (min-width: 767px) and (max-width: 1380px) {
  .border-right-radius-10 {
    border-radius: 0px 0px 10px 10px !important;
  }
  .container {
    width: 90%;
  }
  .container .login-form label {
    font-size: 13px;
  }
  .container .login-form .form-check-label {
    font-size: 12px;
  }
  .container h2 {
    font-size: 25px !important;
  }
  .container p {
    font-size: 12px !important;
  }
  .container .prev {
    width: 30px !important;
    height: 35px !important;
  }
  .container .prev:hover {
    background-image: url(../images/previ.png) !important;
  }
  .container .next {
    width: 30px !important;
    height: 35px !important;
  }
  .container .next:hover {
    background-image: url(../images/backi.png) !important;
  }
}
