.type-1196 {
  color: #73879c;
}
.type-1196 .content {
  margin-top: 10px;
}
.type-1196 .content .content-left {
  display: inline-block;
}
.type-1196 .content .content-left h3 {
  margin: 12px 0;
}
.type-1196 .content .content-right {
  float: right;
}
.type-1196 .content .content-right .top_search {
  padding: 0;
  margin: 10px 0;
}
.type-1196 .content .content-right .top_search .input-group {
  margin-bottom: 10px;
}
.type-1196 .content .content-right .top_search .form-control {
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.075);
  border-radius: 25px 0 0 25px;
  padding-left: 20px;
  border: 1px solid rgba(221,226,232,0.49);
}
.type-1196 .content .content-right .top_search .input-group-btn button {
  border-radius: 0 25px 25px 0;
  border: 1px solid rgba(221,226,232,0.49);
  border-left: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  color: #93a2b2;
  margin-bottom: 0 !important;
}
.type-1196 .admin-panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #e6e9ed;
  opacity: 1;
  transition: all 0.2s ease;
  margin-bottom: 10px;
  position: relative;
}
.type-1196 .admin-panel .admin-title {
  border-bottom: 2px solid #e6e9ed;
  padding: 1px 5px 6px;
}
.type-1196 .admin-panel .admin-title h3 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 17px;
}
.type-1196 .admin-panel .admin-title ul.items {
  margin-right: 0;
  min-width: 70px;
  float: right;
  list-style: none;
  margin-top: 5px;
}
.type-1196 .admin-panel .admin-title ul.items li {
  float: left;
  cursor: pointer;
}
.type-1196 .admin-panel .admin-title ul.items li a {
  padding: 5px;
  color: #c5c7cb;
  font-size: 13px;
}
.type-1196 .admin-panel .admin-title ul.items li a i:hover {
  font-size: 15px;
  color: #66a8e2;
}
.type-1196 .admin-panel .admin-title ul.items li.dropdown ul.dropdown-menu {
  min-width: 0px !important;
}
.type-1196 .admin-panel .admin-title ul.items .collapse-link,
.type-1196 .admin-panel .admin-title ul.items .close-link {
  opacity: 1;
}
.type-1196 .admin-panel .admin-content .product-img,
.type-1196 .admin-panel .admin-content .product-name {
  margin-top: 15px;
}
.type-1196 .admin-panel .admin-content .product-img img#main {
  width: 600px;
  height: 500px !important;
}
.type-1196 .admin-panel .admin-content .product-gallery {
  width: 100%;
  height: 200px;
}
.type-1196 .admin-panel .admin-content .product-gallery a {
  width: 170px;
  height: 150px;
  float: left;
  margin: 10px;
}
.type-1196 .admin-panel .admin-content .product-gallery a img {
  border: 1px solid #e5e5e5;
  padding: 10px;
  width: 100%;
  height: 100%;
  margin-top: 15px;
}
.type-1196 .admin-panel .admin-content .product-gallery img:hover {
  border: 1px solid #66b6db;
  width: 180px;
  height: 160px;
}
.type-1196 .admin-panel .admin-content .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #5a738e !important;
  opacity: 1;
}
.type-1196 .admin-panel .admin-content .swiper-pagination .swiper-pagination-bullet {
  background-color: #93a2b2;
  opacity: 1;
}
.type-1196 .admin-panel .admin-content .prev {
  width: 30px !important;
  height: 25px !important;
  background-image: url(../images/back1.png) !important;
}
.type-1196 .admin-panel .admin-content .prev:hover {
  background-image: url(../images/back2.png) !important;
}
.type-1196 .admin-panel .admin-content .next {
  width: 30px !important;
  height: 25px !important;
  background-image: url(../images/next1.png) !important;
}
.type-1196 .admin-panel .admin-content .next:hover {
  background-image: url(../images/next2.png) !important;
}
.type-1196 .admin-panel .admin-content .product-name {
  border-bottom: 1px solid #e0e0e0;
}
.type-1196 .admin-panel .admin-content .product-info p.description {
  padding: 25px 0;
}
.type-1196 .admin-panel .admin-content .product-info .product-color ul.color-name {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.type-1196 .admin-panel .admin-content .product-info .product-color ul.color-name li {
  margin: 0 10px;
  padding: 0 5px;
  float: left;
}
.type-1196 .admin-panel .admin-content .product-info .product-color ul.color-name li p {
  margin-bottom: 14px;
}
.type-1196 .admin-panel .admin-content .product-info .product-color ul.color-name li .color {
  width: 25px;
  height: 25px;
  border: 2px solid rgba(51,51,51,0.28) !important;
  padding: 2px;
  border-radius: 50px;
}
.type-1196 .admin-panel .admin-content .product-info .product-color ul.color-name li .green {
  background-color: #1abb9c !important;
  color: #ffffff;
  margin-left: 9px;
}
.type-1196 .admin-panel .admin-content .product-info .product-color ul.color-name li .blue {
  background-color: #3498db !important;
  color: #ffffff;
}
.type-1196 .admin-panel .admin-content .product-info .product-color ul.color-name li .red {
  background-color: #e74c3c !important;
  color: #ffffff;
}
.type-1196 .admin-panel .admin-content .product-info .product-color ul.color-name li .orange {
  background-color: #f39c12 !important;
  color: #ffffff;
  margin-left: 9px;
}
.type-1196 .admin-panel .admin-content .product-info .product-size {
  padding: 25px 0;
}
.type-1196 .admin-panel .admin-content .product-info .product-size ul.size-name {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.type-1196 .admin-panel .admin-content .product-info .product-size ul.size-name li {
  margin: 0;
  padding: 0 5px;
  float: left;
}
.type-1196 .admin-panel .admin-content .product-info .product-size ul.size-name li a.btn-size {
  margin-bottom: 5px;
  margin-right: 5px;
  color: #333;
  background-color: #ffffff;
  border: 1px solid #ccc;
  height: 10px;
  width: 10px;
  text-decoration: none;
  padding: 1px 5px;
  border-radius: 3px;
  font-size: 12px;
}
.type-1196 .admin-panel .admin-content .product-info .product-size ul.size-name li a.btn-size:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}
.type-1196 .admin-panel .admin-content .product-info .product-price {
  margin-top: 50px;
  padding: 14px 14px;
  background-color: #ffffff;
  text-align: left;
  border: 2px dashed #e0e0e0;
}
.type-1196 .admin-panel .admin-content .product-info .product-price .price {
  color: #26b99a;
  margin: 0;
  font-weight: 400;
}
.type-1196 .admin-panel .admin-content .product-info .product-price .price-tax {
  font-size: 18px;
}
.type-1196 .admin-panel .admin-content .product-info .product-btnadd {
  margin-top: 37px;
}
.type-1196 .admin-panel .admin-content .product-info .product-btnadd .add-to-cart {
  margin-bottom: 5px;
  margin-right: 5px;
  color: #333;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
}
.type-1196 .admin-panel .admin-content .product-info .product-btnadd .add-to-cart:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}
.type-1196 .admin-panel .admin-content .product-info .product-social {
  margin-top: 35px;
}
.type-1196 .admin-panel .admin-content .product-info .product-social ul.list-social {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.type-1196 .admin-panel .admin-content .product-info .product-social ul.list-social li {
  float: left;
  padding: 0 4px;
  margin: 0;
}
.type-1196 .admin-panel .admin-content .product-info .product-social ul.list-social li a {
  color: #5a738e;
}
.type-1196 .admin-panel .admin-content .product-info .product-social ul.list-social li a i {
  font-size: 35px;
}
.type-1196 .admin-panel .admin-content .product-info .product-social ul.list-social li a:hover {
  color: #337ab7;
}
.type-1196 .admin-panel .admin-content ul.nav-tabs {
  margin-top: 25px;
  padding-left: 10px;
  background-color: #f5f7fa;
}
.type-1196 .admin-panel .admin-content ul.nav-tabs li {
  color: #333 !important;
  background-color: #f5f7fa;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}
.type-1196 .admin-panel .admin-content ul.nav-tabs li a {
  color: #5a738e;
}
.type-1196 .admin-panel .admin-content .tab-content {
  padding: 10px 0;
}
.type-1196 .admin-panel .admin-content .tab-content #menu1,
.type-1196 .admin-panel .admin-content .tab-content #menu2 {
  padding: 0;
}
@media (max-width: 2000px) and (min-width: 767px) {
  .content .content-left h3 {
    font-size: 18px !important;
  }
  .content .content-right {
    margin-top: -5px;
  }
  .product-name h3 {
    display: inline-block;
  }
  .product-img img#main {
    width: 100% !important;
    height: 75% !important;
  }
  .product-gallery a {
    margin-top: 3px !important;
    width: 140px !important;
    height: 150px !important;
    float: right;
    margin-left: 10px;
    border: none !important;
  }
  .product-gallery a img {
    border: 1px solid #e5e5e5 !important;
    width: 100% !important;
    height: 100% !important;
    padding: 10px;
  }
}
@media only screen and (max-width: 415px) and (min-width: 376px) {
  .admin-panel .admin-content .product-img img#main {
    width: 90% !important;
    height: 240px !important;
  }
  .admin-panel .admin-content .product-gallery {
    width: 100% !important;
    height: 125px !important;
  }
  .admin-panel .admin-content .product-gallery a {
    margin-top: 3px !important;
    width: 80px !important;
    height: 80px !important;
    float: right;
    margin-left: 10px;
    border: none !important;
  }
  .admin-panel .admin-content .product-gallery a .re {
    height: 80px !important;
  }
  .admin-panel .admin-content .product-gallery a img {
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 100%;
  }
  .admin-panel .admin-content .product-gallery a:hover img {
    border: 1px solid #66b6db;
  }
}
@media (max-width: 376px) {
  .content .content-left h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-size: 20px;
  }
  .product-name h3 {
    font-size: 20px;
  }
  .product-btnadd {
    font-size: 12px;
  }
  .admin-panel .admin-content .product-img img#main {
    width: 90% !important;
    height: 200px !important;
  }
  .admin-panel .admin-content .product-gallery {
    width: 100% !important;
    height: 110px !important;
  }
  .admin-panel .admin-content .product-gallery a {
    margin-top: 3px !important;
    width: 70px !important;
    height: 60px !important;
    float: right;
    border: none !important;
  }
  .admin-panel .admin-content .product-gallery a img {
    margin-top: 10px !important;
    border: 1px solid #e5e5e5;
    width: 70px;
    height: 60px;
    padding: 10px;
  }
  .admin-panel .admin-content .product-gallery a .re {
    height: 70px !important;
  }
  .admin-panel .admin-title h3 {
    font-size: 11px !important;
  }
  .product-btnadd .add-to-cart {
    font-size: 15px !important;
    padding: 10px 10px !important;
  }
}
@media (max-width: 768px) and (min-width: 420px) {
  .admin-panel .admin-content .product-img img#main {
    width: 90% !important;
    height: 320px !important;
  }
  .admin-panel .admin-content .product-gallery {
    width: 100% !important;
    height: 200px !important;
  }
  .admin-panel .admin-content .product-gallery a {
    margin-top: 3px !important;
    width: 170px !important;
    height: 160px !important;
    float: right;
    border: none !important;
  }
  .admin-panel .admin-content .product-gallery a img {
    margin-top: 10px !important;
    border: 1px solid #e5e5e5;
    width: 70px;
    height: 60px;
    padding: 10px;
  }
  .admin-panel .admin-title h3 {
    font-size: 11px !important;
  }
  .product-btnadd .add-to-cart {
    font-size: 15px !important;
    padding: 10px 10px !important;
  }
}
